.weatherWidget {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.weatherWidget h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.weatherWidget p {
    font-size: 18px;
}